@import url(http://fonts.googleapis.com/css?family=ABeeZee|Cinzel+Decorative:700);

header {
	text-align: center;
	/*background-color: rgba(255, 255, 255, .5);*/
	background-color: black;
	color: white;
	overflow: hidden;
	padding: 16px;
}

header li, header ul {
	display: inline;
}

header h1 {
	margin: 2px;
}

h1 {
	font-family: 'Cinzel Decorative', serif;
}

h2, h3, h4, h5, h6 {
	font-family: 'ABeeZee', sans-serif;
}

html {   
  background: url(../img/bg4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'ABeeZee', sans-serif;
}

a:link {
	color: white;
	text-decoration: underline
}

a:visited {
	color: white;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.block {
  text-align: center;
  margin: 20px;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 60%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  /* This element will be a little wider
  than 80% because of the padding */
  padding: 10px 15px;
  text-align: left;
  overflow: hidden;
}

.portfolio-item {
  background-color: rgba(255, 255, 255, .2);
  width: 45%;
  /* This element will be a little wider
  than 80% because of the padding */
  padding: 5px;
  margin: 10px;
  float: left;
}