<link rel="stylesheet" type="text/css" href="css/about.css">
<div class="imagebar">
  {{#each images}}
    <a href="#img{{@index}}">
      <img class="thumbnail" src="{{#if thumbnail}}{{thumbnail}}{{else}}{{image}}{{/if}}" title="{{title}}"/>
    </a>
      <a href="#_">
        <div id="img{{@index}}" class="lightbox">
          <img src="{{image}}" title="{{title}}"/>
          <p>{{title}}</p>
          {{#if subtitle}}<p>{{subtitle}}</p>{{/if}}
        </div>
      </a>
  {{/each}}
</div>
<div class="block">
  <div class="centered">
    <div class="item">
      <h2>Hi there.</h2>
      <p>I'm Carlos.</p>
      <p>Here are some of my interests:</p>
      <ul>
        <li>Flying</li>
        <li>Radio DJ-ing</li>
        <li>Skateboarding</li>
        <li>Programming</li>
        <li>Hiking</li>
        <li>Community Service</li>
      </ul>
      <p>Click on the images above to get a better look, and have a look around to find out more about me!</p>
    </div>
  </div>
</div>
