<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="shortcut icon" href="http://www.gravatar.com/avatar/400d6e7be8cee150748ceb9f9007c304?s=32">
		<script data-main="js/main" src="js/vendor/require/require.js"></script>
		<title>Carlos Alexander Vializ</title>
	</head>
	<body>
		<header>
			<h1 class="title">Carlos Alexander Vializ</h1>
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="resume.html">Resume</a></li>
			</ul>
			<ul>
				<li><a href="http://github.com/cvializ/">GitHub</a></li>
			</ul>
		</header>
		{{>body}}
		<footer>
		</footer>
	</body>
</html>