<link rel="stylesheet" type="text/css" href="css/portfolio.css">
<script data-main="js/main" src="js/vendor/require/require.js"></script>
<div class="block">
  <div id="portfolio" class="centered">
  {{#each portfolio}}
    <div class="portfolio-item">
      <h3>{{this.name}}</h3>
      {{#if preview}}
      <a href="{{this.link.href}}" title="{{this.link.title}}">
        <img class="center" src="{{this.preview}}" />
      </a>
      {{/if}}
      <p>{{this.description}}</p>
      <a href="{{this.link.href}}" title="{{this.link.title}}">{{this.link.title}}</a>
      <h4>Features</h4>
      <ul>
      {{#each features}}
        <li>{{{this}}}</li>
      {{/each}}
      </ul>
      <h4>Technologies</h4>
      <ul>
      {{#each technologies}}
        {{#if this.href}}
        <li>
          <a href="{{this.href}}" title="{{this.title}}">
          {{this.title}}
          </a>
        </li>
        {{else}}
        <li>{{this}}</li>
        {{/if}}
      {{/each}}
      </ul>
    </div>
  {{/each}}
  </div>
</div>
