<script src="js/vendor/require/require.js"></script>
<script>
  require.config({
    baseUrl: 'js',
    paths: {
      domReady: 'vendor/require/domReady',
      PDFObject: 'vendor/pdfobject/pdfobject.min'
    },
    shim: {
      PDFObject: {
        exports: 'PDFObject'
      }
    }
  });

  require(['PDFObject', 'domReady!'], function (PDFObject) {
    var pdf = new PDFObject({ url: 'pdf/VializCarlosResume.pdf' }).embed('resume');
  });
</script>
<div class="block">
  <div class="centered">
    <p>Click here to download my resume!</p>
    <p><a href="pdf/VializCarlosResume.pdf">VializCarlosResume.pdf</a></p>
    <div id="resume">
    </div>
  </div>
</div>