@import url(http://fonts.googleapis.com/css?family=ABeeZee|Cinzel+Decorative:700);

* {
  /* Make padding + width play together */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
	text-align: center;
	background-color: black;
	color: white;
	overflow: hidden;
	padding: 16px;
}

header li, header ul {
	display: inline;
}

header h1 {
	margin: 2px;
}

h1 {
	font-family: 'Cinzel Decorative', serif;
}

h2, h3, h4, h5, h6 {
	font-family: 'ABeeZee', sans-serif;
}

html {   
  background: url(../img/bg4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'ABeeZee', sans-serif;
}

a {
  color: orangered;
}

header a {
  color: orangered;
}

a:link {
	text-decoration: underline
}

a:visited {
	text-decoration: underline;
}

a:hover {
  color: white;
	text-decoration: none;
}

.block {
  text-align: center;
}
 
.block:before {
  content: '';
  /*display: inline-block;*//* Affects layout at small widths */
  height: 60%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
 
.centered {
  max-width: 1100px;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  padding-left: 2%;
  text-align: left;
}

.portfolio-item {
  background-color: rgba(255, 255, 255, .42);
  display: inline-block;
  width: 45%;
  /* This element will be a little wider
  than 80% because of the padding */
  padding: 1%;
  margin: 1%;
  float: left;
}

.portfolio-item img {
  width: 80%;
}

.portfolio-item ul, .portfolio-item p {
  width: 75%;
  margin-left: 5px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .block {
    padding-right: 10px;
  }

  .portfolio-item {
    float: none;
    width: 100%;
  }

  .portfolio-item img {
    width: inherit;
    max-width: 80%;
  }

  ul {
    padding-left: 15px;
  }
}
