a.portfolio {
  color: white;
}

.portfolio-item {
  background-color: rgba(255, 255, 255, .42);
  display: inline-block;
  width: 45%;
  /* This element will be a little wider
  than 80% because of the padding */
  padding: 1%;
  margin: 1%;
  float: left;
}

.portfolio-item img {
  width: 80%;
}

.portfolio-item ul, .portfolio-item p {
  width: 75%;
  margin-left: 5px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .block {
    padding-right: 10px;
  }

  .portfolio-item {
    float: none;
    width: 100%;
  }

  .portfolio-item img {
    width: inherit;
    max-width: 80%;
  }

  ul {
    padding-left: 15px;
  }
}
